<html>
    <body>
            <center><table bgcolor ="yellow">
                <tr<td colspan="2"><h2>STUDENT DETAILS</h2></td></td>
                <tr><td>Roll no</td><td> {{crollno}}</td></tr>
                <tr><td>Name</td><td> {{cname}}</td></tr>
                <tr><td>Department</td><td> {{cdepartment}}</td></tr>
                <tr><td>Phone no</td><td>{{cphone}}</td></tr>
                <tr><td>City</td><td> {{ccity}}</td></tr>
                
                <tr><td colspan="2" <cender><a href="home">HOMEPAGE</a></center></td></tr>
            </table>
            </center>

    </body>

</html>     