<html>
    <body>
        <center>
         <table>
            <th><td>Update Page<h2>{{ Student.name }}</h2></td></th>
            <tr><td>ID</td><td>{{ Student.student_id }}</td></tr>
            <tr><td>ROLL NO</td><td>{{ Student.rollno }}</td></tr>
            <tr><td>DEPARTMENT</td><td>{{ Student.department }}</td></tr>
            <tr><td>PHONE NUMBER</td><td>{{ Student.phone }}</td></tr>
            <tr><td>CITY</td><td>{{ Student.city }}</td></tr>
            <tr><td><a href="allstudent">GO TO ALL DATE</a></td></tr>
          </table>
        </center>
    </body>

   </html>